
      <header>
        <aside class="right size1of4">
          <p>I work at <a href="http://www.dubberly.com" title="Dubberly Design Office">Dubberly Design Office</a> as a Senior Interaction Designer. 
          I spend the rest of my time learning Ruby on Rails, 
          revamping my <a href="http://www.lifeclever.com" title="LifeClever">blog</a> (I promise to update), and enjoying life in San Francisco.
          </p>
          
          <p>You can say hello to me via <a href="http://www.twitter.com/chanpory" title="Chanpory's Twitter">Twitter</a>, 
          <a href="http://www.linkedin.com/in/chanpory" title="Chanpory's LinkedIn Profile">LinkedIn</a>, 
          or more traditionally, email.
          </p>      
        </aside>
        
        <section class="main">
          <hgroup>
            <h1>Hello, I&#39;m Chanpory.<h1> 
            <h2>I design software and write code.</h2>
          </hgroup>
          <p>
            I believe good designers should know how to:
          </p>
          <ul>
            <li>
              <strong>code</strong>, so you can build prototypes that are closer to the real product
            </li>
            
            <li>
              <strong>collaborate</strong>,
              because you can&#39;t solve complex and wicked software problems alone.
            </li>
            
            <li>
              <strong>write</strong>, to reflect on your practice, experiment with new methods, and record what you've learned.
            </li>
            
            <li>
              <strong>teach</strong>,
              in order to share new knowledge with others.
            </li>                 
          </ul>
          
          <p>You can check out my work below:</p>
        </section>
      </header>