      
      <section class="main">
        
        <article class="project">
          <header>
          </header>
          
          <aside>
          </aside>
          
          <section class="main">
          </section>
        </article>

        <article class="project">
          <header>
          </header>
          
          <aside>
          </aside>
          
          <section class="main">
          </section>
        </article>
        
        <article class="project">
          <header>
          </header>
          
          <aside>
          </aside>
          
          <section class="main">
          </section>
        </article>
        
      </section>
      

      